<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.achuan.teammanagement">

    <!--******************申请权限****************-->
    <!--普通基本权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--环信-Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--危险权限-->

    <!--添加Mob使用需要的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--**********************注册Activity******************-->
        <!-- Mob自己定制的短信验证界面 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!--开机开屏界面-->
        <activity android:name=".ui.main.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--注册界面-->
        <activity android:name=".ui.main.activity.RegisterActivity"></activity>
        <!--登录界面-->
        <activity android:name=".ui.main.activity.LoginActivity"></activity>
        <!--主界面-->
        <activity android:name=".ui.main.activity.MainActivity"></activity>
        <!--添加联系人界面-->
        <activity android:name=".ui.main.activity.AddContactActivity"></activity>
        <!--申请与通知消息界面-->
        <activity android:name=".ui.contacts.activity.NewFriendsMsgActivity"></activity>
        <!--&lt;!&ndash;聊天界面&ndash;&gt;
        <activity android:name=".ui.conversation.activity.ChatActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateHidden|stateUnchanged">
            &lt;!&ndash;对于没有滚动控件的布局来说，采用的是adjustPan方式，
            而对于有滚动控件的布局，则是采用的adjustResize方式&ndash;&gt;
            &lt;!&ndash;禁止进入activity自动弹出键盘:添加stateHidden|stateUnchanged&ndash;&gt;
        </activity>-->
        <!--群聊主界面-->
        <activity android:name=".ui.contacts.activity.GroupsActivity"></activity>
        <!--新建群组界面-->
        <activity android:name=".ui.contacts.activity.NewGroupActivity"></activity>
        <!--选择联系人界面-->
        <activity android:name=".ui.contacts.activity.GroupPickContactsActivity"></activity>


        <!--在easeui基础上修改的聊天界面-->
        <activity android:name=".ui.conversation.activity.MyChatActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateHidden|stateUnchanged"></activity>
        <!--显示大图片界面-->
        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"></activity>
        <!--显示地图-->
        <activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"></activity>




        <!--********************************环信配置相关********************************-->
        <!-- 设置环信应用的AppKey 可以在Application文件中java代码设置-->
        <!--<meta-data android:name="EASEMOB_APPKEY"  android:value="1145161121178643#teammanagement" />-->
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE"
                 android:exported="true"/>
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>


    </application>
</manifest>